header {
  width: 100%;
  position: sticky;
  padding: 24px;
  top: 0;
  box-shadow: 0px 4px 10px 0px rgba(164, 164, 164, 0.10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  .links {
    .link {
      color: #32364a;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 8px;
    }
  }
}